.u-section-1 .u-sheet-1 {
  min-height: 2109px;
}

.u-section-1 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 30px;
  grid-template-rows: auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 1586px;
}

.u-section-1 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/image12.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 270px;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 20px auto 0 0;
}

.u-section-1 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/image13.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 270px;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  margin: 20px auto 0 0;
}

.u-section-1 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/image14.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 270px;
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  margin: 20px auto 0 0;
}

.u-section-1 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/image15.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 270px;
}

.u-section-1 .u-text-8 {
  font-size: 1rem;
  margin: 20px auto 0 0;
}

.u-section-1 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/image16.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-9 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 270px;
}

.u-section-1 .u-text-10 {
  font-size: 1rem;
  margin: 20px auto 0 0;
}

.u-section-1 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/image17.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-11 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 270px;
}

.u-section-1 .u-text-12 {
  font-size: 1rem;
  margin: 20px auto 0 0;
}

.u-section-1 .u-image-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/image18.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-text-13 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 270px;
}

.u-section-1 .u-text-14 {
  font-size: 1rem;
  margin: 20px auto 0 0;
}

.u-section-1 .u-image-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/image19.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-text-15 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 270px;
}

.u-section-1 .u-text-16 {
  font-size: 1rem;
  margin: 20px auto 0 0;
}

.u-section-1 .u-image-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/image20.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-text-17 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 270px;
}

.u-section-1 .u-text-18 {
  font-size: 1rem;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1306px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 916px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 2521px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}